<div class="wrapper">
  <div class="title_content">
    <h1>Salon appointment system registration</h1>
  </div>
  <form [formGroup]="registrationForm">
    <mat-stepper orientation="vertical" animationDuration="500">

      <mat-step [stepControl]="registrationForm">
        <div class="form_wrapper">
          <ng-template matStepLabel>Fill Basic Details</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" formControlName="name">
            <mat-error *ngIf="form.get('firstName')?.touched && form.get('firstName')?.dirty">
              FistName should be longest than 2 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last name" formControlName="surname">
            <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.dirty">
              FistName should be longest than 2 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.dirty">
              Provide valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone number" type="phone" formControlName="phoneNumber">
            <mat-error *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.dirty">
              Provide valid phone
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.dirty">
              Provide valid password
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!canContinue()"
              (click)="requestToRegister()">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="otpForm" label="Email Confirmation">
        <div class="container">
          <header>
            <i class="bx bxs-check-shield"></i>
          </header>
          <h3>We have sent a confirmation code to your email</h3>
          <h4>Enter OTP Code from email</h4>
          <form [formGroup]="otpForm">
            <div class="input-field">
              <input formControlName="number1" type="number" class="otp_input" max="9" min="0" />
              <input formControlName="number2" type="number" class="otp_input" max="9" min="0" />
              <input formControlName="number3" type="number" class="otp_input" max="9" min="0" />
              <input formControlName="number4" type="number" class="otp_input" max="9" min="0" />
              <input formControlName="number5" type="number" class="otp_input" max="9" min="0" />
              <input formControlName="number6" type="number" class="otp_input" max="9" min="0" />
            </div>
            <button mat-raised-button id="verify_otp" (click)="sendOtp()">Verify Email</button>
          </form>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
