.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.example-card {
  max-width: 400px;
}
.example-card-1 {
  width: 200px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr; /* Create 2 columns and auto-place rows */
}
.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

