<!--&lt;!&ndash; appointment.component.html &ndash;&gt;-->

<!--<mat-card>-->
<!--  <mat-card-content>-->
<!--    <h2>{{ salonName }}</h2>-->
<!--    <p>{{ treatmentName }}</p>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Choose Master</mat-label>-->
<!--      <mat-select [(ngModel)]="selectedMaster">-->
<!--        <mat-option *ngFor="let master of masters" [value]="master">{{ master }}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Choose Date</mat-label>-->
<!--      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->


<!--    <mat-form-field>-->
<!--      <mat-label>Choose Time</mat-label>-->
<!--      <mat-select [(ngModel)]="selectedTime">-->
<!--        <mat-option *ngFor="let time of availableTimes" [value]="time">{{ time }}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <mat-grid-list cols="5" rowHeight="2:1">-->
<!--      <mat-grid-tile *ngFor="let time of availableTimes">-->
<!--        &lt;!&ndash; Display available times &ndash;&gt;-->
<!--        {{ time }}-->
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Leave your comment or wishes</mat-label>-->
<!--      <textarea matInput [(ngModel)]="comment"></textarea>-->
<!--    </mat-form-field>-->

<!--    <button mat-raised-button color="primary" (click)="makeAppointment()">Make an Appointment</button>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
