<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="intro" class="w-100 h-max m-20 p-10" style="">

  <div class="container flex justify-around items-center">
    <div class="text-start">
      <div>
        <h1 class="mb-3">Online appointment system</h1>
        <h5 class="w-3/4 mb-4">You can easily and conveniently make an appointment
          in the field of beauty and health without leaving home.</h5>
      </div>
      <div>
        <form class="example">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div>
      <img src="assets/images/cover-banner.png" width="800">
    </div>
  </div>
</div>
