<footer class="bg-white border-t border-gray-300 sticky top-full">
  <div class="container block">
    <div class="footer-wrapper flex flex-col">
      <div class="footer-wrapper-top flex flex-row justify-between pb-6 pt-11 text-base leading-5">

        <div class="footer-wrapper-top_name">
          <div class="footer-wrapper-top_name-logo">
            <img class="relative w-full h-full" src="assets/images/logo.svg">
          </div>
          <div class="footer-wrapper-top_name-text">
            Online appointment service in the field of beauty and health.
          </div>

        </div>

        <div class="footer-wrapper-top_links flex">
          <div class="footer-wrapper-top_links-contacts">
            <ul>
              <li class="mb-3 list-none">
                <a class="cursor-pointer">Become a partner</a>
              </li>
              <li class="mb-3 list-none">
                <a class="cursor-pointer">Contacts</a>
              </li>
              <li class="mb-3 list-none">
                <a class="cursor-pointer">Site map</a>
              </li>
            </ul>
          </div>
          <div class="footer-wrapper-top_links-help">
            <ul>
              <li class="mb-3 list-none">
                <a class="cursor-pointer"> Privacy policy
                </a>
              </li>
              <li class="mb-3 list-none">
                <a class="cursor-pointer">User agreement
                </a>
              </li>
              <li class="mb-3 list-none">
                <a class="cursor-pointer">Online payment rules
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-wrapper-top_apps">
          <div class="footer-wrapper-top_apps-text">
            Download app
          </div>
          <div class="footer-wrapper-top_apps-icons flex gap-1">
            <a href="#" class="inline-block">
              <img src="assets/images/apple-store.svg" id="apple_store" class="w-28 h-14 mr-2 inline-block">
            </a>
            <a href="#" class="inline-block">
              <img src="assets/images/google-play.svg" id="google_play" class="w-28 h-14 mr-2 inline-block ">
            </a>
            <a href="#" class="inline-block" id="huawei_store">
              <img src="assets/images/huawei-store.svg" class="w-28 h-14 mr-2 inline-block ">
            </a>
          </div>
        </div>
        <div class="footer-wrapper-top_social">
          <div class="footer-wrapper-top_social-text mb-16">
            Follow us
          </div>
          <div class="footer-wrapper-top_social-logo flex justify-end">
            <a>
              <img loading="lazy" class="instagram" src="assets/images/instagram-logo.svg">
            </a>
            <a>
              <img loading="lazy" class="facebook" src="assets/images/logo-facebook.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper-bottom">
      <div class="footer-wrapper flex">
        <div class="wrapper-bottom">
          <div class="container-bottom_copyright-web">All rights reserved</div>
          <div class="container-bottom_copyright-mob">@ Akerke Zapis KZ 2023</div>
          <div>
            <img loading="lazy" width="37px" src="assets/images/payment-types/visa.svg" height="12px">
            <img loading="lazy" width="20 px" src="assets/images/payment-types/mastercard.svg" height="12px">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
